body{
  background-color: black;
  color:white;
}
.card{
  background-color: rgb(71, 4, 15);
  border-radius: 10px;
  margin:20px;
  padding:20px;
}

.nav {
  display: flex;          /* IMPORTANT */
  justify-content: center;
  gap: 20px;              /* space between items */
  color: yellowgreen;
  margin: 20px;
  padding: 20px;
}